.sidebar {
	padding: 10px;
	width: max-content;
	height: calc(100vh - var(--navbar-height));
	background-color: var(--inverted-bg-color);
	position: revert;
	
}
	.sidebar.collapsed {
		width: 30vw;
	}





